    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: calibri;
    }
    body{
        padding: 30px;
    }
    h1{
        font-size: 15pt;
        font-family: arial;
        margin-bottom: 4px;
    }
    h2{
        font-size: 13pt;
    }

    .titulo{
        font-size: 15pt;
        text-align: center;
    }

    p{
        margin-bottom: 20px;
        line-height: 20px;
    }

    table{
        width: 100%;
        text-align: left;
        border-spacing: 0;	
        margin-bottom: 10px;
        border: 1px solid #fff;
    }
    thead{
        background-color: #eaeaea;
        border-bottom: 1px solid #006699;

    }
    th, td{
        padding: 10px;
        border: 1px solid #000;
    }

    .border{
        border: 1px solid #eaeaea;
    }

    .flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .col{
        width: 25%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .cols{
        width: 50%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .col-2{
        width: 10%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .col-8{
        width: 80%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .logo{
        height: 80px;
        width: 80px;
        /*border-radius: 300px;*/
        /*padding: 30px; */
    }
    .ml{
        margin-left: 80px;
    }
    .text-center{
        text-align: center;
    }